{% extends "base.html" %}

{% block content %}

    <div class="aboutdiv">
        <h1 class="abouth1">Hello and welcome to my blog site clone project!</h1>
        <p class="aboutp">For this project, I utilized several technologies including HTML, CSS, Django, 
            JavaScript, and Bootstrap to create a responsive and visually appealing blog site.

            Using HTML and CSS, I designed the layout and styling of the site, 
            including the navigation bar, content area, and blog posts. 
            I also added custom CSS to further enhance the look and feel of the site.
            
            To create the dynamic and interactive features of the site, I utilized Django and JavaScript. 
            This allowed me to implement functionalities such as user authentication, creating and editing blog posts, 
            and displaying dynamic content on the site.
            
            Finally, I used Bootstrap to make the site responsive, ensuring that it looks great and functions well on a 
            wide variety of devices and screen sizes.
            
            Overall, this project allowed me to gain experience in using multiple technologies to create a cohesive and functional web application. 
            I hope you enjoy exploring my blog site clone!
        </p>
    </div>

{% endblock %}